<div class="text-center">
  <form class="mb-5">
    <div class="form-group mb-3">
      <label class="d-block pb-2 font-weight-light">E-Mail</label>
      <input class="form-control" type="email" [(ngModel)]="email" name="user" placeholder="E-Mail Adresse" required>
    </div>
    <div class="form-group mb-3">
      <label class="d-block pb-2 font-weight-light">Vorname</label>
      <input class="form-control" type="email" [(ngModel)]="email" name="user" placeholder="Vorname" required>
      <label class="d-block pb-2 font-weight-light">nahcname</label>
      <input class="form-control" type="email" [(ngModel)]="email" name="user" placeholder="Nachname" required>
    </div>
    <div class="form-group mb-3">
      <label class="d-block pb-2 font-weight-light">Passwort</label>
      <input class="form-control" type="password"  [(ngModel)]="password" name="password" placeholder="Passwort" required>
      <input class="form-control" type="password"  [(ngModel)]="repeatPassword" name="repeatPassword" placeholder="Passwort wiederholen" required>
    </div>
    <div class="form-group mb-3">
      <label class="d-block pb-2 font-weight-light">Wohn- /Lieferadresse</label>
      <textarea class="form-control" name="address" [(ngModel)]="address" placeholder="Address" required></textarea>
      <button button-primary (click) = "checkAdress()">Adresse Überprüfen</button>

    </div>
  <div class="my-3">
    <span class="d-block mb-2">Ich habe noch keinen Account und möchte mich gerne registrieren</span>
    <button button-primary>Registrieren</button>
  </div>
