@import "variables";

body {
  font-family: $font-family;
}

a {
  color: $gray-600;
  cursor: pointer;
  font-size: $font-size-s;
  text-decoration: none;
}

a:hover, a:active {
  color: $blue;

  &:after {
    color: $blue;
  }
}

button {
  background-color: $white;
  border: 1px solid $gray-600;
  border-radius: $spacer-1;
  cursor: pointer;
  font-size: $font-size-m;
  padding: .75rem $spacer-4;
}

button:focus, button:hover {
  background-color: $gray-600;
  color: $white;
  transition: .3s;
}

input, textarea {
  border: 1px solid $gray-600;
  border-radius: $spacer-1;
  color: $gray-800;
  font-size: $font-size-m;
  font-weight: $font-weight-normal;
  min-width: 180px;
  padding: .75rem $spacer-2;
  resize: none;
}

input:focus, input:active, textarea:focus, textarea:active {
  border-color: $gray-800;
}

p {
  font-size: $font-size-s;
}

table {
  font-size: $font-size-s !important;
}

td, th {
  text-align: $text-align-left !important;
  padding: $spacer-2 !important;
  border-bottom: 1px solid $black !important;
}

tr {
  border-bottom: 1px solid $black !important;
}

.button-primary {
  background-color: $color-1;
  border: 1px solid $color-1;
  color: $white;
}

.button-primary:focus, .button-primary:hover {
  background-color: darken($color-1, 10%);
  border: 1px solid $color-1;
  color: $white;
}

.button-secondary {
  background-color: darken($accent, 10%);
  border: 1px solid darken($accent, 10%);
  color: $color-1;
}

.button-secondary:focus, .button-secondary:hover {
  background-color: darken($accent, 30%);
  border: 1px solid darken($accent, 30%);
  color: $color-1;
}

.button-light {
  background-color: transparent;
  border: 1px solid $white;
  color: $white;
}

.button-light:focus, .button-light:hover {
  background-color: $white;
  border: 1px solid $white;
  color: $color-1;
}

.cursor-pointer {
  cursor: pointer;
}
