// variables

// colors
$red:               #dc3545 !default;
$yellow:            #ffc107 !default;
$green:             #28a745 !default;
$white:             #fff !default;
$gray-600:          #6c757d !default;
$gray-800:          #343a40 !default;
$color-1:           #78244b !default;
$color-2:           #d2e9da !default;
$primary:           #78244b !default;
$primary-dark:      #BF688B !default;
$accent:            #2B44FF !default;
$black:             #000000 !default;
$dark:              #E8000000 !default;
$light:             #C7FFFFFF !default;
$urgency_urgent:    #D2000D !default;
$urgency_normal:    #5476BC !default;
$blue:              #3E4FFF !default;
$pink:              #FFEBEA !default;
$green:             #4ECE7C !default;

// colors
$colors: (
  "blue":           $blue,
  "pink":           $pink,
  "red":            $red,
  "yellow":         $yellow,
  "green":          $green,
  "white":          $white,
  "gray":           $gray-600,
  "gray-dark":      $gray-800,
  "color-1":        $color-1,
  "color-2":        $color-2,
  "black":          $black,
  "primary":        $primary,
  "primary-dark":   $primary-dark,
  "accent":         $accent,
  "dark":           $dark,
  "light":          $light,
  "urgency_urgent": $urgency_urgent,
  "urgency_normal": $urgency_normal,
) !default;

// spacers for margin and padding
$spacer: 1rem !default;
$spacer-0: 0;
$spacer-1: $spacer / 4;
$spacer-2: $spacer / 2;
$spacer-3: $spacer;
$spacer-4: $spacer * 1.5;
$spacer-5: $spacer * 2;

$spacers: (
  0: $spacer-0,
  1: $spacer-1,
  2: $spacer-2,
  3: $spacer-3,
  4: $spacer-4,
  5: $spacer-5,
) !default;

$directions: (
  "t": "top",
  "b": "bottom",
  "r": "right",
  "l": "left",
  "x": "",
  "y": "",
  "": ""
) !default;

$classes: (
  "m": "margin",
  "p": "padding"
) !default;

// font sizes
$font-size-base: 1rem !default;
$font-size-xs: $font-size-base * 0.875 !default;
$font-size-s: $font-size-base !default;
$font-size-m: $font-size-base * 1.125 !default;
$font-size-l: $font-size-base * 1.5 !default;
$font-size-xl: $font-size-base * 2 !default;

$font-sizes: (
  xs: $font-size-xs,
  s: $font-size-s,
  m: $font-size-m,
  l: $font-size-l,
  xl: $font-size-xl
) !default;

// font-weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-weights: (
  light: $font-weight-light,
  normal: $font-weight-normal,
  bold: $font-weight-bold
) !default;

// font familiy
$font-family: montserratregular,Catamaran,Helvetica,Arial,sans-serif;

// display
$displays: (
  inline,
  block,
  flex,
  grid,
  inline-block,
  inline-flex,
  table,
  none,
  initial,
  inherit
) !default;

$text-align-left: left;
$text-align-left: left;
$text-align-right: right;
$text-align-center: center;
$text-align-justify: justify;
$text-align-initial: initial;
$text-align-inherit: inherit;

// text-align
$text-aligns: (
  $text-align-left,
  $text-align-right,
  $text-align-center,
  $text-align-justify,
  $text-align-initial,
  $text-align-inherit
) !default;

// position
$positions: (
  static,
  absolute,
  fixed,
  relative,
  sticky,
  initial,
  inherit
) !default;
