<div class="row">
  <div class="col-lg-5 col-sm-12 col-md-12 mx-lg-auto">
    <h1>{{ 'reset.password.title' | translate }}</h1>
    <form class="my-5" [formGroup]="resetPasswordForm" (ngSubmit)="onFormSubmit()">
      <div class="form-group mb-3">
        <label class="d-block pb-2 font-weight-bold">{{ 'user.mail' | translate }}</label>
        <input class="form-control" type="email" formControlName="email" name="user"
          [placeholder]="'login.email' | translate" required>
        <small class="form-text text-muted invalid-feedback d-block text-red font-size-xs" *ngIf="emailError">
          {{ 'login.error-email' | translate }}
        </small>
      </div>

      <div class="text-center">
        <button button-primary type="submit" class="w-100">
          {{ 'reset.password.title' | translate }}
        </button>
      </div>
    </form>

    <div class="bg-modal">
      <div class="modal-contents">

        <div class="close x" (click) = "closePopUp()">-</div>
        <p class="popupItem">{{ 'reset.password.emailSent' | translate }}</p>
      <br>
        <a href="/login" >{{ 'reset.password.backToLogin' | translate }}</a>

      </div>
    </div>

  </div>
</div>
