<div class="row">
  <div class="col-lg-5 col-sm-12 col-md-12 mx-lg-auto">
    <h1>{{ 'reset.password.title' | translate }}</h1>
    <form class="my-5" [formGroup]="resetPasswordForm" (ngSubmit)="onFormSubmit()">
      <div class="form-group mb-3">
        <label class="d-block pb-2 font-weight-bold">{{ 'user.mail' | translate }}</label>
        <input class="form-control" type="email" formControlName="email" name="user"
          [placeholder]="'login.email' | translate" required>
        <small class="form-text text-muted invalid-feedback d-block text-red font-size-xs" *ngIf="emailError">
          {{ 'login.error-email' | translate }}
        </small>
      </div>

      <div class="text-center">
        <button button-primary type="submit" class="w-100">
          {{ 'reset.password.title' | translate }}
        </button>
      </div>
    </form>


    <ng-container *ngIf="success">
      <div class="col-lg-12 col-sm-12 pb-2">
        <small class="d-block text-green font-size-xs">
          {{ 'reset.password.emailSent' | translate }}
        </small>
      </div>
    </ng-container>


  </div>
</div>
