<div class="completeTable">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Zuletzt geändert Column -->

      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Zuletzt geändert </th>
        <td mat-cell *matCellDef="let order">{{ order.updatedAt | date }} </td>
      </ng-container>

      <!-- User ID Column -->
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID </th>
        <td mat-cell *matCellDef="let order"> {{order.userId}} </td>
      </ng-container>

      <!-- Herkunft Column -->
      <ng-container matColumnDef="source">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Herkunft </th>
        <td mat-cell *matCellDef="let order"> {{ order.source | constantsTranslator }} </td>
      </ng-container>



      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>

        <ng-container *matCellDef="let order">
          <td mat-cell
            *ngIf="order.status =='TO_BE_DELIVERED' || order.status == 'CONSUMER_CANCELLED'; else akzeptiertBlock"
            style="color:red;">{{ order.status | constantsTranslator }}</td>
          <ng-template #akzeptiertBlock>
            <td mat-cell style="color:green;">{{ order.status | constantsTranslator }}</td>
          </ng-template>
        </ng-container>


        <td mat-cell *matCellDef="let order"> {{order.status | constantsTranslator }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let order; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</div>

























<!-- <div class="row">
  <div class="col-12">

    <h1>Alle Hilfegesuche</h1>
    <ng-container *ngIf="breakPointObserverService.isMobile$ | async; else mobileView">
      <ng-container *ngFor="let order of orders">
        <div class="order-card p-2 mb-3">
          <div class="row">
            <div class="col-6">
              <div class="font-weight-bold">Zuletzt geändert</div>
              <div class="font-weight-normal">{{ order.updatedAt | date }}</div>
            </div>
            <div class="col-6">
              <div class="font-weight-bold">Benutzer</div>
              <div class="font-weight-normal">{{ order.userId }}</div>
            </div>
            <div class="col-6">
              <div class="font-weight-bold">Herkunft</div>
              <div class="font-weight-normal">{{ order.source | constantsTranslator }}</div>
            </div>
            <div class="col-6">
              <div class="font-weight-bold">Status</div>
              <div class="font-weight-normal">{{ order.status | constantsTranslator }}</div>
            </div>
            <div class="col-12 mt-3">
              <a [routerLink]="order.id">zur Detailansicht</a>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #mobileView>
      <table>
        <thead>
        <tr>
          <th>Zuletzt geändert</th>
          <th>Benutzer</th>
          <th>Herkunft</th>
          <th>Status</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.updatedAt | date }}</td>
          <td>{{ order.userId }}</td>
          <td>{{ order.source | constantsTranslator }}</td>
          <td *ngIf="order.status =='TO_BE_DELIVERED' || order.status == 'CONSUMER_CANCELLED'; else akzeptiertBlock" style="color:red;">{{ order.status | constantsTranslator }}</td>
          <ng-template #akzeptiertBlock>
            <td style="color:green;">{{ order.status | constantsTranslator }}</td>
          </ng-template>
          <td><a [routerLink]="order.id">zur Detailansicht</a></td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</div>
 -->
