<div class="row">
  <div class="col-12">
    <h1>Alle Hilfegesuche</h1>
    <ng-container *ngIf="breakPointObserverService.isMobile$ | async; else mobileView">
      mobile to be implemented
    </ng-container>
    <ng-template #mobileView>
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Update</th>
          <th>Benutzer</th>
          <th>Quelle</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders">
          <td><a [routerLink]="order.id">{{ order.id }}</a></td>
          <td>{{ order.updatedAt | date }}</td>
          <td>{{ order.userId }}</td>
          <td>{{ order.source | constantsTranslator }}</td>
          <td>{{ order.status | constantsTranslator }}</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</div>

