<div class="row mb-4">
  <div class="col-lg-6 mx-auto">
    <h1>{{ 'help-request.create' | translate }}</h1>
    <form [formGroup]="helpRequestGroupForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-12 col-sm-12 pb-2">
          <label class="d-block pb-2 font-weight-bold">{{ 'help-request.hint' | translate }}</label>
          <textarea type="text" formControlName="requestText" rows="4"
                    [placeholder]="'help-request.hint-placeholder' | translate" class="w-100"></textarea>
        </div>
        <div class="col-auto mt-3 mx-auto" [ngClass]="{'col-12': breakpointObserver.isMobile$ | async}">
          <button button-primary type="submit" class="text-center" [ngClass]="{'w-100': breakpointObserver.isMobile$ | async}">
            {{ 'help-request.save' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

