<div class="row">
  <div class="col-12">
    <h1>{{ 'help-request.overview' | translate }}</h1>
    <ng-container *ngIf="breakPointObserverService.isMobile$ | async; else desktopView">
      <ng-container *ngIf="helpRequests.length; else noHelpRequests">
        <ng-container *ngFor="let helpRequest of helpRequests">
          <div class="order-card p-2 mb-3">
            <div class="row">
              <div class="col-6">
                <div class="font-weight-bold">{{ 'help-request.last-changed' | translate }}</div>
                <div class="font-weight-normal">{{ helpRequest.updatedAt | date }}</div>
              </div>
              <div class="col-6">
                <div class="font-weight-bold">{{ 'help-request.help-seeker' | translate }}</div>
                <div
                  class="font-weight-normal">{{ helpRequest.helpSeeker.fullName }}</div>
              </div>
              <div class="col-6">
                <div class="font-weight-bold">{{ 'help-request.source' | translate }}</div>
                <div class="font-weight-normal">{{ 'common.' + helpRequest.requestStatus | translate }}</div>
              </div>
              <div class="col-6">
                <div class="font-weight-bold">{{ 'help-request.status' | translate }}</div>
                <div class="font-weight-normal">{{ 'common.' + helpRequest.requestStatus | translate }}</div>
              </div>
              <div class="col-12 mt-3">
                <a [routerLink]="helpRequest.id" class="text-primary text-center font-weight-bold d-block w-100">
                  {{ 'help-request.to-detail-view' | translate }}
                </a>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #noHelpRequests>
        <div>
          {{ 'help-request.no-help-requests' | translate }}
        </div>
      </ng-template>
    </ng-container>
    <ng-template #desktopView>
      <table class="w-100">
        <thead>
        <tr>
          <th>{{ 'help-request.last-changed' | translate }}</th>
          <th>{{ 'help-request.help-seeker' | translate }}</th>
          <th>{{ 'help-request.status' | translate }}</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody *ngIf="helpRequests.length">
        <tr *ngFor="let helpRequest of helpRequests">
          <td>{{ helpRequest.updatedAt | date }}</td>
          <td>{{ helpRequest.helpSeeker.fullName }}</td>
          <td>
            <div>
              <div class="d-inline-block">
                <ng-container *ngTemplateOutlet="stepCircle;
                      context: { done: true, status: 'OPEN', helpRequest: helpRequest }"></ng-container>
                <ng-container *ngTemplateOutlet="stepCircle;
                      context: { done: helpRequest.requestStatus === 'WIP' || helpRequest.requestStatus === 'CLOSED', status: 'WIP', helpRequest: helpRequest }"></ng-container>
                <ng-container *ngTemplateOutlet="stepCircle;
                      context: { done: helpRequest.requestStatus === 'CLOSED', status: 'CLOSED', helpRequest: helpRequest }"></ng-container>
              </div>
              <div class="d-inline-block step-circle-text">
                {{ 'common.' + helpRequest.requestStatus | translate }}
              </div>
            </div>
          </td>
          <td>
            <a [routerLink]="helpRequest.id" class="text-primary">
              {{ 'help-request.to-detail-view' | translate }}
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="helpRequests.length === 0">
        {{ 'help-request.no-help-requests' | translate }}
      </div>
    </ng-template>
  </div>
</div>

<ng-template #stepCircle let-done="done" let-status="status" let-helpRequest="helpRequest">
  <div class="step-circle d-inline-block mr-2" [ngClass]="{'bg-primary': done, 'bg-gray': !done}"
       [title]="('common.'+status) | translate" (click)="updateStatus(helpRequest, status)"></div>
</ng-template>
