@import "projects/style-lib/src/variables";

.order-card {
  border: 1px solid $gray-600;
  border-radius: $spacer-1;
  padding: .75rem $spacer-2;
}

.step-circle {
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.step-circle-text {
  padding: 7.5px 0;
}
