<div class="row">
  <div class="col-lg-4 col-sm-12 col-md-12 mx-lg-auto">

  <h1>{{ 'roles.title' | translate }}</h1>

  <label class="d-block pb-2 font-weight-bold">{{ 'login.email' | translate }}</label>

  <form class="my-5" [formGroup]="addAminForm" (ngSubmit)="addAmin()">
    <input class="form-control" type="email" formControlName="email" name="user" required>
    <small class="form-text text-muted invalid-feedback d-block text-red font-size-xs" *ngIf="emailError">
    {{ 'login.error-email' | translate }}
  </small>
    <br>
    <button (click) = "addAmin()" button-primary class="w-100">
      {{ 'roles.title' | translate }}
    </button>
   </form>
  <!-- [placeholder]="'login.email' | translate" -->
  </div>
</div>
